.container-header {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 75px;
}
.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  color: #fff;
  font-family: "Righteous", Arial, Helvetica, sans-serif;
}
.subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #c99e71;
}
.text {
  text-transform: capitalize;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.7);
}

/* ----------------Header---------------- */
#header-section {
  padding: 32px 0;
  background-color: #1c1814;
}
.header,
.header-nav,
.header-nav__list,
.header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
}

.header-nav__list {
  gap: 48px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.header-nav__link {
  transition: color 0.3s ease;
}

.header-nav__link:hover,
.header-action_search:hover,
.header-action_cart:hover {
  color: #c99e71;
}

.header-nav__link-active {
  color: #c99e71;
  font-weight: 700;
  cursor: default;
}

.header-action {
  margin-left: 48px;
  gap: 50px;
}

.header-action_search,
.header-action_cart {
  font-size: 30px;
  transition: color 0.3s ease;
}
/* ----------------/Header---------------- */
/* -----------------Hero------------------ */
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 75px;
}
#hero {
  background-image: url("./img/banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 147px 0 166px 0;
}
.hero-content {
  display: flex;
  justify-content: space-between;
}
.hero-info {
  max-width: 530px;
}
.hero-title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  font-family: "Righteous", Arial, Helvetica, sans-serif;
}
.hero-text {
  margin-bottom: 64px;
  font-size: 20px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}
.hero-btn {
  padding: 24px 40px;
}
.btn-primary {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #c99e71;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #a27d55;
}
.hero-video__btn {
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  height: 110px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.hero-video__btn:hover {
  color: #c99e71;
}
.hero-video__btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 66px;
  height: 66px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("./img/play.svg") 50%/14px 18px no-repeat;
  transform: translateX(-50%);
}
/* -----------------/Hero------------------ */
/* -----------------Features--------------- */
#features {
  padding-top: 140px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.features-item {
  width: calc((100% - 72px) / 3);
  font-weight: 400;
  font-size: 24px;
  font-family: "Righteous", Arial, Helvetica, sans-serif;
  color: #fff;
}
.features-item_dark {
  margin-right: 12px;
  color: #c99e71;
}
.features-img {
  margin-top: 24px;
}
/* -----------------/Features--------------- */
/* -----------------Story------------------- */
#story {
  padding-top: 140px;
}
.story-content {
  display: flex;
  gap: 32px;
}
.story-wrap {
  width: 50%;
  display: flex;
  gap: 32px;
}
.story-double__img {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}
.story-double__img img {
  max-width: 298px;
  max-height: 301px;
}
.story-content__text {
  width: 50%;
  padding: 120px 56px 56px 56px;
  background-color: #1c1814;
}
.story-title {
  max-width: 398px;
  margin-bottom: 36px;
}
.story-subtitle {
  margin-bottom: 12px;
}
.story-text {
  max-width: 398px;
}
/* -----------------/Story------------------- */
/* -----------------Product----------------- */
#product {
  padding-top: 140px;
}
.product-subtitle {
  margin-bottom: 12px;
  text-align: center;
}
.product-title {
  text-align: center;
  margin-bottom: 56px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  max-height: 579px;
  max-width: 366px;
  width: 100%;
  padding: 48px 48px 36px 48px;
  background-color: #121315;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}
.product-item:hover {
  box-shadow: 0px 0px 15px 0px rgb(201, 158, 113, 0.5);
}
.product-wrap_img {
  overflow: hidden;
}
.product-item__description {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}
.product-description__rating {
  display: flex;
  justify-content: center;
  transition: opacity 0.25s ease;
}
.product-rating__title {
  margin-right: 13px;
  text-transform: uppercase;
  color: #c99e71;
}
.product-rating__list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-description__title {
  margin: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Righteous", Arial, Helvetica, sans-serif;
}
.product-price {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.product-price__dark {
  opacity: 1;
  transform: scale(1);
  color: #c99e71;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.product-buy {
  display: none;
  opacity: 0;
  margin-top: 38px;
  padding: 12px;
  justify-content: center;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  transition: opacity 0.25s ease background-color 0.25s ease;
}
.product-item:hover .product-buy {
  margin-top: 5px;
  display: flex;
  opacity: 1;
}
.product-item:hover .product-description__rating,
.product-item:hover .product-price {
  opacity: 0;
  display: none;
  transform: scale(0);
}
.product-link {
  display: block;
  margin: 56px auto 140px;
  padding: 20px 36px;
  max-width: 252px;
}
/* -----------------/Product----------------- */
/* ------------------Machine----------------- */
#machine {
  margin-bottom: 90px;
}
.machine-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding: 72px 0 86px 0;
  background-color: #1c1814;
}
.left-side {
  margin-left: 169px;
}
.right-side {
  max-width: 526px;
  margin-right: 89px;
}
.machine-title {
  margin-bottom: 36px;
}
.machine-text {
  margin-bottom: 36px;
}
.machine-bth {
  padding: 20px 36px;
}
/* ------------------/Machine----------------- */
/* -------------------Menu-------------------- */
#menu {
  padding: 50px 0;
}
.menu-wrapper {
}
.menu-subtitle {
  margin-bottom: 12px;
  text-align: center;
}
.menu-title {
  text-align: center;
  margin-bottom: 56px;
}
.menu-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 565px;
  width: 100%;
  padding: 24px;
  border: 1px solid #32323d;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}
.menu-item:hover {
  box-shadow: 0px 0px 15px 0px rgb(201, 158, 113, 0.5);
}
.menu-wrapper__img {
  margin-right: 20px;
  overflow: hidden;
}
.menu-list__title {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: "Righteous", Arial, Helvetica, sans-serif;
}
.menu-list__price {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #c99e71;
}
/* -------------------/Menu-------------------- */
/* --------------------Testimonial------------- */
#testimonial {
  margin: 90px 0;
}
.testimonial-wrapper {
}
.testimonial-subtitle {
  text-align: center;
  margin-bottom: 12px;
}
.testimonial-title {
  margin-bottom: 56px;
  text-align: center;
}
.testimonial-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.testimonial-item {
  max-width: 565px;
  width: 100%;
  display: flex;
  padding: 40px;
  background-color: #1c1814;
}
.testimonial-item__person {
  margin-right: 24px;
}
.person-wrapper__img {
  max-width: 129px;
  width: 100%;
  overflow: hidden;
}
.person-name {
  margin-top: 28px;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}
.person-position {
  margin-top: 4px;
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}
.testimonial-person__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-person__rating {
  display: flex;
  justify-content: flex-end;
}
.testimonial-action {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
  align-items: center;
}
.testimonial-count__text {
  display: block;
  margin-bottom: 20px;
  color: #c99e71;
  font-size: 20px;
}
.testimonial-count__progress {
  appearance: none;
  max-width: 120px;
  width: 100%;
  height: 4px;
}
.testimonial-count__progress::-webkit-progress-bar {
  border-radius: 3px;
  background-color: #2b2926;
}
.testimonial-count__progress::-webkit-progress-value {
  border-radius: 3px;
  background-color: #c99e71;
}
.testimonial-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonial-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: default;
}

.testimonial-btn__active {
  color: #010102;
  background-color: #c99e71;
  cursor: pointer;
  transition: background-color .25s ease;
}
.testimonial-btn__active:hover {
  background-color: #a27d55;
}
/* --------------------/Testimonial------------- */
/* --------------------Reservation-------------- */


/* --------------------/Reservation-------------- */